.item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 4px 0;

  animation: fadein 0.3s;
  backface-visibility: hidden;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.draggable {
  cursor: move;
}

.label {
  font-weight: bold;
}

.delete {
  margin: 0 0 0 auto;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.marker {
  display: block;
  width: 22px;
  height: 22px;
  font-size: 14px;
  line-height: 23px;
  border: none;
  border-radius: 50%;
  padding: 0;
  background: #ffffff;
  color: #383838;
  text-align: center;
  font-weight: bold;
  margin: 0 8px 0 0;
}
