.container {
    width: 100vw;
    height: calc(100vh);
}

.marker {
    display: block;
    width: 24px;
    height:24px;
    line-height: 24px;
    border: none;
    border-radius: 50%;
    padding: 0;
    background: black;
    color:white;
    text-align: center;
    font-weight: bold;
}