.container {
  display: flex;
  flex-direction: row;
  max-height: 100vh;
}

.leftPane {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 16px;
  background-color: #383838;
  flex: 1 1 30%;
  min-width: 240px;
}

.rightPane {
  flex: 1 0 70%;
}

.toolbar {
  margin: auto 0 0 0;
  display: flex;
}

.toolbar > * {
  flex: 1;
}
